@{
    ViewData["Title"] = "Home Page";
}

<header>
    <h2>BÀI TẬP</h2>
</header>

<section>
    <nav>
        <ul>
            <li>@ViewBag.HoTen</li>
            <li>@ViewBag.MSSV</li>
            <li>@ViewData["Nam"]</li>
        </ul>
    </nav>

    <article>
        <h1>Pham Gia Han</h1>
        <p>---------------</p>
        <img src="~/image/Pham Gia Han.jpg" style="width:100px;" />
    </article>
</section>

<footer>
    <p>Copyright &copy; Pham Gia Han - @DateTime.Now.Year</p>
</footer>
