
@{
    ViewData["Title"] = "Index";
}

<h1>Nhóm "Những Chú Zịt"</h1>

<section>
    <nav>
        <ul>
            <li><a href="~/trang-chu">Bản thân</a></li>
            <li><a href="~/gioi-thieu-nhom">Nhóm</a></li>
        </ul>
    </nav>

    <article>
        <table>
            <thead>
            <th>STT</th>
            <th>Mã số sinh viên</th>
            <th>Họ và tên</th>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>1822040666</td>
                    <td>Phạm Gia Hân</td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>1822040540</td>
                    <td>Nguyễn Lê Anh Thư</td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>1822040476</td>
                    <td>Nguyễn Huy Hoàng</td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>1822040577</td>
                    <td>Nguyễn Thái Học</td>
                </tr>
            </tbody>
        </table>
    </article>
</section>

<footer>
    <p>Copyright &copy; Pham Gia Han - @DateTime.Now.Year</p>
</footer>

