
@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>
@model TacGia
<div class="container">
    <h3>Xoá</h3>
    <div asp-validation-summary="All" class="text-danger"></div>
    <form method="post" asp-action="DeleteConfirm">
        <input type="hidden" asp-for="MaTacGia" />
        <div class="form-group">
            <label asp-for="TenTacGia">Tên tác giả</label>
            <input asp-for="TenTacGia" type="text" class="form-control" />
            <span asp-validation-for="TenTacGia" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="NamSinh">Năm sinh</label>
            <input asp-for="NamSinh" type="date" class="form-control" />
            <span asp-validation-for="NamSinh" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="QuocTich">Quốc tịch</label>
            <input asp-for="QuocTich" type="text" class="form-control" />
            <span asp-validation-for="QuocTich" class="text-danger"></span>
        </div>
            <button type="submit" class="btn btn-primary">Xóa</button>
            <a asp-action="Index" class="btn btn-primary">Hủy</a>
    </form>
</div>

@section Scripts {
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}
