@{
    ViewData["Title"] = "Home Page";
}

<header>
    <h2>GIỚI THIỆU</h2>
</header>

<section>
    <nav>
        <ul>
            <li><a href="~/trang-chu">Bản thân</a></li>
            <li><a href="~/gioi-thieu-nhom">Nhóm</a></li>
        </ul>
    </nav>

    <article>
        <h1>Pham Gia Han</h1>
        <p>---------------</p>
        <img src="~/image/GiaHanPham.jpg" style="width:100px;" />
    </article>
</section>

<footer>
    <p>Copyright &copy; Pham Gia Han - @DateTime.Now.Year</p>
</footer>
