
@{
    ViewData["Title"] = "BaiTap2";
}

<h1>BaiTap2</h1>

<section>
    <nav>
        <ul>
            <li>@ViewBag.TenSP</li>
            <li>@ViewBag.Gia</li>
        </ul>
    </nav>

    <article>
        <h1>Dầu Gội Xả TREsemme Keratin Smooth 400ml</h1>
        <img src="~/image/DauGoi.png" style="width:150px;" />
        <p>250.000đ</p>
    </article>
</section>
